
name: Build docs
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/build-push-action@v5
        with:
          dockerfile: Dockerfile
          path: .
          username: ${{github.repository_owner}}
          password: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}/node-weatherinfo
          registry: docker.pkg.github.com
          tags: latest
